#root {
  max-width: 1200px;
  margin: 0 auto;
}

#releaseyear {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
#releaseyear > p {
    text-align: center;
    font-size: 25px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

